/* COLORES */

#Amarillo {
  background-color: #eac926;
}
#Azul {
  background-color: #03264c;
}
#Celeste {
  background-color: #1259c3;
}
#Gris_oscruo {
  background-color: #666;
}
#Gris_claro {
  background-color: #ebebeb;
}
#Verde {
  background-color: #39b54a;
}
